<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link href="/static/libs/ratchet/css/ratchet.css" rel="stylesheet">
    <script src="/static/libs/ratchet/js/ratchet.js"></script>

    <title>验车侠</title>
</head>

<body>

<header class="bar bar-nav">
  <h1 class="title">Ratchet</h1>
</header>

<div class="content">
    <a href="#myModalexample" class="btn">Open modal</a>

    <div id="myModalexample" class="modal">
      <header class="bar bar-nav">
        <a class="icon icon-close pull-right" href="#myModalexample"></a>
        <h1 class="title">Modal</h1>
      </header>

      <div class="content">
        <p class="content-padded">The contents of my modal go here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
      </div>
    </div>
</div>

</body>
</html>