{% extends "m_base_ratchet.html" %}

{% block content %}
<div style="color: #000; border-bottom: 1px solid #ddd; text-align: center; position: relative; font-size: 17px; padding: 15px">
    预约验车服务成功
</div>

<div style="color: #bbb; border-bottom: 1px solid #ddd; text-align: left; position: relative; font-size: 13px; padding: 10px 15px">
    <span style="color: #aaa">说明：</span>验车侠提供的验车服务<br>
    <span style="color: #aaa">宗旨：</span>维护购车者的知情权！<br>
    <span style="color: #FF4136">注意：我们的工作人员会在预订服务后的24小时内和你取得联系，与你确认验车服务的地点、时间等细节。</span><br>
</div>
{% end %}