{% extends layout.html %}

{% block layout_header %} 4s店 {% end %}

{% block layout_content %}

<a class="btn btn-success">新建</a>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1,001</td>
            <td>Lorem</td>
            <td>ipsum</td>
            <td>dolor</td>
            <td>sit</td>
        </tr>
        </tbody>
    </table>
</div>
{% end %}