<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="/static/js/slidesjs/jquery.slides.min.js"></script>

    <script>
        $(function () {
            $("#slides").slidesjs({
                width: 700,
                height: 400,
                navigation: {
                    active: false,
                    effect: "slide"
                },
                pagination: {
                    active: true,
                    effect: "slide"
                },
                play: {
                    active: true,
                    auto: true,
                    interval: 4000,
                    swap: false
                }
            });
        });
    </script>

    <title></title>
</head>
<body style="color: #3f3f3f">
    <div class="container" style="padding: 30px 0">
        <a href="/">
            <span class="fa fa-car fa-4x" style="color: #21bbf9;"></span> <span style="color: #21bbf9; font-size: 30px">安心爱车</span>
        </a>

        <ul class="nav nav-pills pull-right top-nav">
            <li class="top-nav-item"><a href="#features">服务</a></li>
            <li class="top-nav-item"><a href="#pricing">价格</a></li>
            <li class="top-nav-item"><a href="http://blog.getblimp.com">经验</a></li>
            <li class="top-nav-item"><a href="https://app.getblimp.com/signin/">登录</a></li>
        </ul>
    </div>

    <div class="board">
        <div class="back"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h1 style="color: #fff; margin-top: 100px">帮验车服务</h1>
                    <h5 style="color: #fff">专业服务，让人安心</h5>
                    <div class="btn btn-lg btn-success">立刻预约</div>
                </div>
                <div class="col-md-7" style="padding-top: 50px">
                    <div id="slides">
                        <img src="/static/images/slides/4.jpg">
                        <img src="/static/images/slides/4.jpg">
                        <img src="/static/images/slides/4.jpg">
                        <img src="/static/images/slides/4.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="padding: 20px 0">
        <div class="row">
            <div class="col-md-2 notification-subject">
                最新车讯
            </div>
            <div class="col-md-10 notification-message">
                <a href="/">这是一个神奇的买车网站 →</a>
            </div>
        </div>
    </div>

    <div class="container features-section-wrapper" id="features">
        <div class="row">
            <div class="col-md-4 feature-wrapper">
                <h4 class="feature-title"><i class="fa fa-bus"></i>流程简单</h4>
                <div class="feature-text">
                    通过网站或者公众微信号直接预约验车师傅，按照约定时间抵达您的购车地点，帮您完成提车过程中的验车需求，生成详细的验车报告。
                </div>
            </div>
            <div class="col-md-4 feature-wrapper">
                <h4 class="feature-title"><i class="fa fa-bus"></i>质量保证</h4>
                <div class="feature-text">
                    验车师傅均经过公司严格的筛选和培训，为您提车过程提供全面的技术保障。从车身、轮胎到发动机，为您即将拥有的爱车进行“全面体检”。
                </div>
            </div>
            <div class="col-md-4 feature-wrapper">
                <h4 class="feature-title"><i class="fa fa-bus"></i>建立信任</h4>
                <div class="feature-text">
                    我们希望和您通过您的爱车建立长期的信任合作，从验车开始，后续将继续为您提供新车在使用过程中的全方位保障，让您真正得到安心用车的体验。
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 feature-wrapper">
                <h4 class="feature-title"><i class="fa fa-bus"></i>流程简单</h4>
                <div class="feature-text">
                    通过网站或者公众微信号直接预约验车师傅，按照约定时间抵达您的购车地点，帮您完成提车过程中的验车需求，生成详细的验车报告。
                </div>
            </div>
            <div class="col-md-4 feature-wrapper">
                <h4 class="feature-title"><i class="fa fa-bus"></i>质量保证</h4>
                <div class="feature-text">
                    验车师傅均经过公司严格的筛选和培训，为您提车过程提供全面的技术保障。从车身、轮胎到发动机，为您即将拥有的爱车进行“全面体检”。
                </div>
            </div>
            <div class="col-md-4 feature-wrapper">
                <h4 class="feature-title"><i class="fa fa-bus"></i>建立信任</h4>
                <div class="feature-text">
                    我们希望和您通过您的爱车建立长期的信任合作，从验车开始，后续将继续为您提供新车在使用过程中的全方位保障，让您真正得到安心用车的体验。
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 feature-wrapper">
                <h4 class="feature-title"><i class="fa fa-bus"></i>流程简单</h4>
                <div class="feature-text">
                    通过网站或者公众微信号直接预约验车师傅，按照约定时间抵达您的购车地点，帮您完成提车过程中的验车需求，生成详细的验车报告。
                </div>
            </div>
            <div class="col-md-4 feature-wrapper">
                <h4 class="feature-title"><i class="fa fa-bus"></i>质量保证</h4>
                <div class="feature-text">
                    验验车师傅均经过公司严格的筛选和培训，为您提车过程提供全面的技术保障。从车身、轮胎到发动机，为您即将拥有的爱车进行“全面体检”。
                </div>
            </div>
            <div class="col-md-4 feature-wrapper">
                <h4 class="feature-title"><i class="fa fa-bus"></i>建立信任</h4>
                <div class="feature-text">
                    我们希望和您通过您的爱车建立长期的信任合作，从验车开始，后续将继续为您提供新车在使用过程中的全方位保障，让您真正得到安心用车的体验。
                </div>
            </div>
        </div>

    </div>

    <div class="container horizontal-line"></div>

    <div class="container section-wrapper pricing-wrapper" id="pricing">
        <div class="row">
            <div class="col-md-6 pricing-text-wrapper">
                <h3 class="pricing-title">价格</h3>
                <div class="section-body-wrapper pricing-text-body-wrapper">
                    实惠的服务价格；方便的支付方式；灵活的购买形式。帮验车将让您用最合理的价格，体验一次完美的提车之旅。实惠的服务价格；方便的支付方式；灵活的购买形式。帮验车将让您用最合理的价格，体验一次完美的提车之旅。
                </div>
            </div>
            <div class="col-md-6 pricing-prices-wrapper">
                <div class="row">
                    <div class="col-md-6 price-wrapper">
                        <div class="price-header">
                            <span class="fa fa-rmb fa-2x"></span>
                            <span class="price-price">500</span>
                            <span class="price-per-month"> / 每次</span>
                        </div>
                        <ul class="price-details">
                            <li class="price-detail-item"><strong>一次</strong> 验车流程</li>
                            <li class="price-detail-item"><strong>免费</strong> 信息咨询</li>
                            <li class="price-detail-item"><strong>多种</strong> 汽车礼品</li>
                        </ul>
                    </div>
                    <div class="col-md-6 price-wrapper">
                        <div class="price-header">
                            <span class="fa fa-rmb fa-2x"></span>
                            <span class="price-price">100</span>
                            <span class="price-per-month"> / 每小时</span>
                        </div>
                        <ul class="price-details">
                            <li class="price-detail-item"><strong>一次</strong> 验车流程</li>
                            <li class="price-detail-item"><strong>免费</strong> 信息咨询</li>
                            <li class="price-detail-item"><strong>多种</strong> 汽车礼品</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container horizontal-line"></div>

    <div class="container section-wrapper bottom-cta-wrapper">
        <div class="row">
            <div class="col-md-12">
                <span class="bottom-cta-text-wrapper">完美的验车服务体验</span>
                <a href="/" class="btn btn-large btn-success cta-button">立刻预约</a>
                <span class="bottom-cta-text-wrapper">有问题? <a href="mailto:anxinaiche@gmail.com" style="color: #08c;">联系我们</a></span>
            </div>
        </div>
    </div>

    <div class="footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <ul class="footer-link-list">
                        <li class="footer-link-item"><a href="/">博客</a></li>
                        <li class="footer-link-item"><a href="/">交流</a></li>
                        <li class="footer-link-item"><a href="/">合作</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="footer-link-list">
                        <li class="footer-link-item"><a href="mailto:anxinaiche@gmail.com">联系我们</a></li>
                        <li class="footer-link-item"><a href="/">服务条款</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="footer-link-list">
                        <li class="footer-link-item"><a href="/">微博</a></li>
                        <li class="footer-link-item"><a href="/">微信</a></li>
                    </ul>
                </div>
                <div class="col-md-6 footer-align-right">

                    <div class="row">
                        <div class="col-md-6">
                        </div>
                    </div>

                </div>
            </div>
            <div class="row footer-meta-wrapper">
                <div style="text-align: right;">©2013-2014 bangmaiche.com All Rights Reserved.沪ICP备0000000000号</div>
            </div>
        </div>
    </div>
</body>
</html>