{% extends "m_base.html" %}

{% block import %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.pagepiling.css" />

    <script type="text/javascript" src="/static/js/jquery.pagepiling.min.js"></script>
{% end %}

{% block style %}
    <style>
        body {
            text-align: center;
        }
    </style>

    <script type="text/javascript">
		var deleteLog = false;

		$(document).ready(function() {
	    	$('#pagepiling').pagepiling({
	    		menu: '#menu',
	    		anchors: ['page1', 'page2', 'page3'],
			    sectionsColor: ['#bfda00', '#2ebe21', '#E4EBB5', '#51bec4'],
			    loopTop: true,
			    loopBottom: true
			});
	    });
    </script>
{% end %}

{% block body %}

	<div id="pagepiling">
	    <div class="section" id="section1">
	    	<h4>新车就不会有任何问题吗？</h4>
			<h4>这可不一定！！</h4>
	    </div>
	    <div class="section" id="section2">
            <h4>每销售10000台新车</h4>
            <h4>2313台是试驾车！</h4>
            <h4>173台是瑕疵车！</h4>
            <h4>1965台是展车！</h4>
	    </div>
	    <div class="section" id="section3">
	    	<h4>别人靠运气？</h4>
            <h4>我靠验车侠！</h4>
            <br>
            <h4>侠之大者</h4>
			<h4>只为买家</h4>
	    </div>
        <div class="section" id="section4">
	    	<h4>还等什么？</h4>
			<a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx703b3491b593a587&redirect_uri=http%3A%2F%2F121.199.5.143%2Foauth_response&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect" class="btn btn-success">立刻预约</a>
	    </div>
	</div>

{% end %}

