{% extends "base.html" %}

{% block body-header %}
    <div class="container" style="padding: 50px 0; border-bottom: 1px solid #dadada;">
        <a href="/">
            <span class="fa fa-car fa-3x" style="color: #1b85d6;"></span> <span style="color: #1b85d6; font-size: 30px">买啥车</span>
        </a>

        <ul class="nav nav-pills pull-right top-nav">
            <li class="top-nav-item"><a href="#">服务</a></li>
            <li class="top-nav-item"><a href="#">价格</a></li>
            <li class="top-nav-item"><a href="#">经验</a></li>
            <li class="top-nav-item"><a href="/login">登录</a></li>
        </ul>
    </div>
{% end %}

{% block body %}
{% end %}

{% block body-footer %}
    <div class="footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <ul class="footer-link-list">
                        <li class="footer-link-item"><a href="/">博客</a></li>
                        <li class="footer-link-item"><a href="/">交流</a></li>
                        <li class="footer-link-item"><a href="/">合作</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="footer-link-list">
                        <li class="footer-link-item"><a href="mailto:anxinaiche@gmail.com">联系我们</a></li>
                        <li class="footer-link-item"><a href="/">服务条款</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="footer-link-list">
                        <li class="footer-link-item"><a href="/">微博</a></li>
                        <li class="footer-link-item"><a href="/">微信</a></li>
                    </ul>
                </div>
                <div class="col-md-6 footer-align-right">

                    <div class="row">
                        <div class="col-md-6">
                        </div>
                    </div>

                </div>
            </div>
            <div class="row footer-meta-wrapper">
                <div style="text-align: right;">©2013-2014 bangmaiche.com All Rights Reserved.沪ICP备0000000000号</div>
            </div>
        </div>
    </div>
{% end %}