{% extends "m_base.html" %}

{% block body %}

<div class="container">
    <table>
        <tr>
            <td>openid</td>
            <td>{{info['openid']}}</td>
        </tr>

        <tr>
            <td>nickname</td>
            <td>{{info['nickname']}}</td>
        </tr>

        <tr>
            <td>sex</td>
            <td>{{info['sex']}}</td>
        </tr>

        <tr>
            <td>province</td>
            <td>{{info['province']}}</td>
        </tr>

        <tr>
            <td>city</td>
            <td>{{info['city']}}</td>
        </tr>

        <tr>
            <td>country</td>
            <td>{{info['country']}}</td>
        </tr>

        <tr>
            <td>headimgurl</td>
            <td><img src="{{info['headimgurl']}}"> </td>
        </tr>
    </table>
</div>

{% end %}